<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>

    <h1>Let's play the madlib game</h1>

    <form action="/madlib">
        <label for="person-name">Enter a person name:</label>
        <input type="text" name="person" id="person-name">

        <label for="color">Choose a color:</label>
        <select name="lang-color" id="color">
            <option value="pink">Pink</option>
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="white">White</option>
            <option value="purple">Purple</option>
            <option value="yellow">Yellow</option>
            <option value="orange">Orange</option>
            <option value="black">Black</option>
            <option value="blue">Blue</option>
            <option value="silver">Silver</option>
            <option value="brown">Brown</option>
        </select>

        <label for="noun">Enter a Noun:</label>
        <input type="text" name="noun" id="noun">

        <label for="adjective">Enter a Adjective:</label>
        <input type="text" name="adjective" id="adjective">

        <button type="submit">Submit</button>
    </form>


</body>
</html>