{% extends 'display_mdlib_base.html' %}

{% block title %}The Fun park mad lib{% endblock %}

{% block content %}

<div id="fun-park">

  <h1 id="title"> The Fun park mad lib </h1>

  <p >
      Today, my fabulous camp group went to a
  {{adjective1}} amusement park. It was a
  fun park with lots of cool{{noun}}s
  and enjoyable play structures. When we got there, my
  kind counselor shouted loudly, "Everybody off the
  {{noun2}}." We all pushed out in a terrible
  hurry. My counselor handed out yellow tickets, and
  we scurried in. I was so excited! I couldn't figure out
  what exciting thing to do first. I saw a scary roller
  coaster I really liked so, I {{verb1}} ran
  over to get in the long line that had a lot
  {{adjective2}} people in it. When I finally
  got on the roller coaster I was {{verb2}}. In fact I was so nervous my two knees were knocking together. This was the {{adjective3}} ride I had ever been on! In about two
  minutes I heard the crank and grinding of the gears.
  That is when the ride began! When I got to the bottom,
  I was a little {{adjective4}} but I
  was proud of myself. The rest of the day went
  {{adjective1}}. It was a {{adjective3}} day at the fun park. 
  </p>

</div>

{% endblock %}